<a href="https://colab.research.google.com/github/qmjafaustino-creator/CPE311-CPE22S3/blob/main/hoa_7_1_faustino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Module 7 : Data Wrangling with Pandas

## CPE311 Computanional Thingking with Python

Submitted by: Faustino, Maurkuz Jibril A.

Performed on: 2/24/2026

Submitted on: 2/24/2026

Submitted to: Engr. Neal Barton James Matira

## 7.1 Supplementary Activity
Using the datasets provided, perform the following exercises:

#

# Exercise 1
We want to look at data for the Facebook, Apple, Amazon, Netflix, and Google (FAANG) stocks, but we were given each as a separate CSV file. Combine them into a single file and store the dataframe of the FAANG data as faang for the rest of the exercises:

1. Read each file in.
2. Add a column to each dataframe, called ticker, indicating the ticker symbol it is for (Apple's is AAPL, for example). This is how you look up a stock. Each file's name is also the ticker symbol, so be sure to capitalize it.
3. Append them together into a single dataframe.
4. Save the result in a CSV file called faang.csv.

In [ ]:
pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.12/dist-packages (from bs4) (4.13.5)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->bs4) (2.8.3)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.12/dist-packages (from beautifulsoup4->bs4) (4.15.0)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

In [ ]:
import pandas as pd

fb_df = pd.read_csv('fb.csv')
aapl_df = pd.read_csv('aapl.csv')
amzn_df = pd.read_csv('amzn.csv')
nflx_df = pd.read_csv('nflx.csv')
goog_df = pd.read_csv('goog.csv')

print("Facebook data:")
print(fb_df.head())
print("\nApple data:")
print(aapl_df.head())
print("\nAmazon data:")
print(amzn_df.head())
print("\nNetflix data:")
print(nflx_df.head())
print("\nGoogle data:")
print(goog_df.head())

Facebook data:
         date    open    high       low   close    volume
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726

Apple data:
         date      open      high       low     close    volume
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766

Amazon data:
         date     open     high      low    close   volume
0  2018-01-02  1172.00  1190.00  1170.51  1189.01  2694494
1  2018-01-03  1188.30  1205.49  1188.30  1204.20  3108793
2  2018-01-04  1205.00  1215.87  1204.66  1209.59  3022089
3  2018-01-05  1217.51  1229.14  1210.00  1229.14  3544743
4  2018-01-08  1236.00  1253.08  1232.03  1246.87  4279475

Netflix data:
         date    open    high       low   close    volume
0  2018-01-02  196.10  201.65  195.4200  201.07  10966889
1  2018-01-03  202.05  206.21  201.5000  205.05   8591369
2  2018-01-04  206.20  207.05  204.0006  205.63   6029616
3  2018-01-05  207.25  210.02  205.5900  209.99   7033240
4  2018-01-08  210.02  212.50  208.4400  212.05   5580178

Google data:
         date     open     high      low    close   volume
0  2018-01-02  1048.34  1066.94  1045.23  1065.00  1237564
1  2018-01-03  1064.31  1086.29  1063.21  1082.48  1430170
2  2018-01-04  1088.00  1093.57  1084.00  1086.40  1004605
3  2018-01-05  1094.00  1104.25  1092.00  1102.23  1279123
4  2018-01-08  1102.23  1111.27  1101.62  1106.94  1047603

In [ ]:
import pandas as pd

fb_df = pd.read_csv('fb.csv').assign(ticker='FB')
aapl_df = pd.read_csv('aapl.csv').assign(ticker='AAPL')
amzn_df = pd.read_csv('amzn.csv').assign(ticker='AMZN')
nflx_df = pd.read_csv('nflx.csv').assign(ticker='NFLX')
goog_df = pd.read_csv('goog.csv').assign(ticker='GOOG')

print(fb_df.head())
print(aapl_df.head())
print(amzn_df.head())
print(nflx_df.head())
print(goog_df.head())

         date    open    high       low   close    volume ticker
0  2018-01-02  177.68  181.58  177.5500  181.42  18151903     FB
1  2018-01-03  181.88  184.78  181.3300  184.67  16886563     FB
2  2018-01-04  184.90  186.21  184.0996  184.33  13880896     FB
3  2018-01-05  185.59  186.90  184.9300  186.85  13574535     FB
4  2018-01-08  187.20  188.90  186.3300  188.28  17994726     FB
         date      open      high       low     close    volume ticker
0  2018-01-02  166.9271  169.0264  166.0442  168.9872  25555934   AAPL
1  2018-01-03  169.2521  171.2337  168.6929  168.9578  29517899   AAPL
2  2018-01-04  169.2619  170.1742  168.8106  169.7426  22434597   AAPL
3  2018-01-05  170.1448  172.0381  169.7622  171.6751  23660018   AAPL
4  2018-01-08  171.0375  172.2736  170.6255  171.0375  20567766   AAPL
         date     open     high      low    close   volume ticker
0  2018-01-02  1172.00  1190.00  1170.51  1189.01  2694494   AMZN
1  2018-01-03  1188.30  1205.49  1188.30  1204.20  3108793   AMZN
2  2018-01-04  1205.00  1215.87  1204.66  1209.59  3022089   AMZN
3  2018-01-05  1217.51  1229.14  1210.00  1229.14  3544743   AMZN
4  2018-01-08  1236.00  1253.08  1232.03  1246.87  4279475   AMZN
         date    open    high       low   close    volume ticker
0  2018-01-02  196.10  201.65  195.4200  201.07  10966889   NFLX
1  2018-01-03  202.05  206.21  201.5000  205.05   8591369   NFLX
2  2018-01-04  206.20  207.05  204.0006  205.63   6029616   NFLX
3  2018-01-05  207.25  210.02  205.5900  209.99   7033240   NFLX
4  2018-01-08  210.02  212.50  208.4400  212.05   5580178   NFLX
         date     open     high      low    close   volume ticker
0  2018-01-02  1048.34  1066.94  1045.23  1065.00  1237564   GOOG
1  2018-01-03  1064.31  1086.29  1063.21  1082.48  1430170   GOOG
2  2018-01-04  1088.00  1093.57  1084.00  1086.40  1004605   GOOG
3  2018-01-05  1094.00  1104.25  1092.00  1102.23  1279123   GOOG
4  2018-01-08  1102.23  1111.27  1101.62  1106.94  1047603   GOOG

In [ ]:
import pandas as pd

fb_df = pd.read_csv('fb.csv').assign(ticker='FB')
aapl_df = pd.read_csv('aapl.csv').assign(ticker='AAPL')
amzn_df = pd.read_csv('amzn.csv').assign(ticker='AMZN')
nflx_df = pd.read_csv('nflx.csv').assign(ticker='NFLX')
goog_df = pd.read_csv('goog.csv').assign(ticker='GOOG')

faang = pd.concat([fb_df, aapl_df, amzn_df, nflx_df, goog_df], ignore_index=True)

faang

            date     open     high        low    close    volume ticker
0     2018-01-02   177.68   181.58   177.5500   181.42  18151903     FB
1     2018-01-03   181.88   184.78   181.3300   184.67  16886563     FB
2     2018-01-04   184.90   186.21   184.0996   184.33  13880896     FB
3     2018-01-05   185.59   186.90   184.9300   186.85  13574535     FB
4     2018-01-08   187.20   188.90   186.3300   188.28  17994726     FB
...          ...      ...      ...        ...      ...       ...    ...
1250  2018-12-24   973.90  1003.54   970.1100   976.22   1590328   GOOG
1251  2018-12-26   989.01  1040.00   983.0000  1039.46   2373270   GOOG
1252  2018-12-27  1017.15  1043.89   997.0000  1043.88   2109777   GOOG
1253  2018-12-28  1049.62  1055.56  1033.1000  1037.08   1413772   GOOG
1254  2018-12-31  1050.96  1052.70  1023.5900  1035.61   1493722   GOOG

[1255 rows x 7 columns]

## Exercise 2
1. With faang, use type conversion to change the date column into a datetime and the volume column into integers. Then, sort by date and ticker.
2. Find the seven rows with the highest value for volume.
3. Right now, the data is somewhere between long and wide format. Use melt() to make it completely long format. Hint: date and ticker are our ID variables (they uniquely identify each row). We need to melt the rest so that we don't have separate columns for open, high, low, close, and volume.

In [ ]:
import pandas as pd

fb_df = pd.read_csv('fb.csv').assign(ticker='FB')
aapl_df = pd.read_csv('aapl.csv').assign(ticker='AAPL')
amzn_df = pd.read_csv('amzn.csv').assign(ticker='AMZN')
nflx_df = pd.read_csv('nflx.csv').assign(ticker='NFLX')
goog_df = pd.read_csv('goog.csv').assign(ticker='GOOG')

faang = pd.concat([fb_df, aapl_df, amzn_df, nflx_df, goog_df], ignore_index=True)

faang['date'] = pd.to_datetime(faang['date'])
faang['volume'] = faang['volume'].astype(int)

faang = faang.sort_values(['date', 'ticker']).reset_index(drop=True)

faang

           date       open       high        low      close    volume ticker
0    2018-01-02   166.9271   169.0264   166.0442   168.9872  25555934   AAPL
1    2018-01-02  1172.0000  1190.0000  1170.5100  1189.0100   2694494   AMZN
2    2018-01-02   177.6800   181.5800   177.5500   181.4200  18151903     FB
3    2018-01-02  1048.3400  1066.9400  1045.2300  1065.0000   1237564   GOOG
4    2018-01-02   196.1000   201.6500   195.4200   201.0700  10966889   NFLX
...         ...        ...        ...        ...        ...       ...    ...
1250 2018-12-31   157.8529   158.6794   155.8117   157.0663  35003466   AAPL
1251 2018-12-31  1510.8000  1520.7600  1487.0000  1501.9700   6954507   AMZN
1252 2018-12-31   134.4500   134.6400   129.9500   131.0900  24625308     FB
1253 2018-12-31  1050.9600  1052.7000  1023.5900  1035.6100   1493722   GOOG
1254 2018-12-31   260.1600   270.1001   260.0000   267.6600  13508920   NFLX

[1255 rows x 7 columns]

In [ ]:
highest_volume = faang.nlargest(7, 'volume').sort_values('volume', ascending=False)

highest_volume

           date      open      high       low     close     volume ticker
712  2018-07-26  174.8900  180.1300  173.7500  176.2600  169803668     FB
267  2018-03-20  167.4700  170.2000  161.9500  168.1500  129851768     FB
287  2018-03-26  160.8200  161.1000  149.0200  160.0600  126116634     FB
272  2018-03-21  164.8000  173.4000  163.3000  169.3900  106598834     FB
910  2018-09-21  219.0727  219.6482  215.6097  215.9768   96246748   AAPL
1225 2018-12-21  156.1901  157.4845  148.9909  150.0862   95744384   AAPL
1060 2018-11-02  207.9295  211.9978  203.8414  205.8755   91328654   AAPL

In [ ]:
faang_long = pd.melt(
    faang,
    id_vars=['date', 'ticker'],
    value_vars=['open', 'high', 'low', 'close', 'volume'],
    var_name='variable',
    value_name='value'
)

print("Long format shape:", faang_long.shape)
print("\nFirst few rows of melted dataframe:")
faang_long.head(10)

Long format shape: (6275, 4)

First few rows of melted dataframe:

        date ticker variable      value
0 2018-01-02   AAPL     open   166.9271
1 2018-01-02   AMZN     open  1172.0000
2 2018-01-02     FB     open   177.6800
3 2018-01-02   GOOG     open  1048.3400
4 2018-01-02   NFLX     open   196.1000
5 2018-01-03   AAPL     open   169.2521
6 2018-01-03   AMZN     open  1188.3000
7 2018-01-03     FB     open   181.8800
8 2018-01-03   GOOG     open  1064.3100
9 2018-01-03   NFLX     open   202.0500

## CONCLUSION:
In this exercise, we were able to merge five different CSV files of stock information for Facebook, Apple, Amazon, Netflix, and Google into one dataframe named faang. We included ticker symbols to distinguish the information for each company, changed the type of the date column to datetime and the volume column to integers, and sorted the merged information in chronological order by date and ticker symbol. We were also able to pick out the seven rows with the largest trading volume for the FAANG stocks and change the format of the information from wide to completely long with the melt() function.