<a href="https://colab.research.google.com/github/qmjafaustino-creator/CPE311-CPE22S3/blob/main/HOA_6_1_Faustino.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hands-on Activity 6.1 Introduction to Data Analysis and Tools

CPE311 Computational Thinking with Python

Name: Faustino, Maurkuz Jibril A

Exercise 1
Run the given code below for exercises 1 and 2, perform the given tasks without using any Python modules

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [2]:
print(salaries)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

In [5]:
mean = sum(salaries)/len(salaries)
print("mean / average is " + str(mean))

mean / average is 585690.0

In [27]:
#median
def calculate_median(salaries):
    sorted_data = sorted(salaries)
    n = len(sorted_data)
    middle = n // 2

    if n % 2 == 0:  # even number of elements
        median = (sorted_data[middle - 1] + sorted_data[middle]) / 2
    else:
        median = sorted_data[middle]

    return median


median_value = calculate_median(salaries)
print("Median is:", median_value)

Median is: 589000.0

In [41]:
#mode
map_values = {}
for salary in salaries:
  if salary not in map_values:
    map_values[salary] = 1
    continue
  map_values[salary] += map_values[salary] + 1

print(map_values)

{844000.0: 1, 758000.0: 3, 421000.0: 1, 259000.0: 1, 511000.0: 1, 405000.0: 1, 784000.0: 1, 303000.0: 1, 477000.0: 7, 583000.0: 1, 908000.0: 1, 505000.0: 1, 282000.0: 1, 756000.0: 1, 618000.0: 1, 251000.0: 1, 910000.0: 1, 983000.0: 1, 810000.0: 1, 902000.0: 1, 310000.0: 1, 730000.0: 1, 899000.0: 1, 684000.0: 1, 472000.0: 1, 101000.0: 1, 434000.0: 1, 611000.0: 1, 913000.0: 1, 967000.0: 1, 865000.0: 1, 260000.0: 1, 805000.0: 1, 549000.0: 1, 14000.0: 1, 720000.0: 1, 399000.0: 1, 825000.0: 1, 668000.0: 1, 1000.0: 1, 494000.0: 1, 868000.0: 1, 244000.0: 1, 325000.0: 1, 870000.0: 1, 191000.0: 1, 568000.0: 1, 239000.0: 1, 968000.0: 1, 803000.0: 1, 448000.0: 1, 80000.0: 1, 320000.0: 1, 508000.0: 1, 933000.0: 1, 109000.0: 1, 551000.0: 1, 707000.0: 1, 547000.0: 1, 814000.0: 1, 540000.0: 1, 964000.0: 1, 603000.0: 1, 588000.0: 1, 445000.0: 1, 596000.0: 1, 385000.0: 1, 576000.0: 1, 290000.0: 1, 189000.0: 1, 187000.0: 1, 613000.0: 3, 657000.0: 1, 90000.0: 1, 877000.0: 1, 923000.0: 3, 842000.0: 1, 898000.0: 1, 541000.0: 1, 391000.0: 1, 705000.0: 1, 276000.0: 1, 812000.0: 1, 849000.0: 1, 895000.0: 1, 590000.0: 1, 950000.0: 1, 580000.0: 1, 451000.0: 1, 660000.0: 1, 996000.0: 1, 917000.0: 1, 793000.0: 1, 82000.0: 1, 486000.0: 1}

In [43]:
#Variance
average = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1

x_xmean_squared = []
for salary in salaries:
  temp = (salary - average)**2
  x_xmean_squared.append(temp)

summation = sum(x_xmean_squared)
variance = summation/len_minus_one

print(variance)

70664054444.44444

In [48]:
#standard deviation

squared_diffs = [(x - mean)**2 for x in salaries]
variance = sum(squared_diffs)/(len(salaries)-1)
std_dev = variance **0.5

print(std_dev)

265827.11382484

Exercise 2
Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:

In [49]:
#range
range = max(salaries) - min(salaries)
print(range)

995000.0

In [50]:
# Coefficient of variation of intequartile range
cv = std_dev / mean
print(cv)

0.45386998894439035

In [51]:
# Quartile coefficient of dispersion
q1 = sorted(salaries)[len(salaries) // 4]
q3 = sorted(salaries)[3 * len(salaries) // 4]
qd = q3 - q1
print(qd)

420000.0

Exercise 3: Pandas for Data Analysis

Load the diabetes.csv file. Convert the diabetes.csv into dataframe.

In [52]:
import pandas as pd
import numpy as np
# Load the diabetes.csv file and convert it into a dataframe
df = pd.read_csv('/content/diabetes.csv')

Perform the following tasks in the diabetes dataframe:
 Identify the column names.

In [53]:
print("\n2. Data Types:")
print(df.dtypes)

2. Data Types:
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

 Display the total number of records.

In [54]:
print(f"\n3. Total number of records: {len(df)}")

3. Total number of records: 768

 Display the first 20 records.

In [55]:
print("\n4. First 20 records:")
display(df.head(20))

4. First 20 records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

 Change the Outcome column to Diagnosis

In [56]:
df.rename(columns={'Outcome': 'Diagnosis'}, inplace=True)
print("\n6. Renamed 'Outcome' to 'Diagnosis'.")

6. Renamed 'Outcome' to 'Diagnosis'.

 Create a new column Classification that display "Diabetes" if the value of outcome is 1,
otherwise "No Diabetes".

In [57]:
df['Classification'] = df['Diagnosis'].apply(lambda x: 'Diabetes' if x
== 1 else 'No Diabetes')
print("7. Created 'Classification' column.")

7. Created 'Classification' column.

 Create a new dataframe with "withDiabetes" that gathers data with diabetes.

In [61]:
withDiabetes = df[df['Diagnosis'] == 1].copy()
print(f"8. 'withDiabetes' dataframe created with {len(withDiabetes)}records.")

8. 'withDiabetes' dataframe created with 268records.

 Create a new dataframe "noDiabetes" that gathers data with no diabetes.

In [63]:
noDiabetes = df[df['Diagnosis'] == 0].copy()
print(f"9. 'noDiabetes' dataframe created with {len(noDiabetes)}records.")

9. 'noDiabetes' dataframe created with 500records.

Create a new datagrame "Pedia" that gathers data with age 0 to 19.

In [65]:
Pedia = df[(df['Age'] >= 0) & (df['Age'] <= 19)].copy()
print(f"10. 'Pedia' (Age 0-19) dataframe created with {len(Pedia)}records.")

10. 'Pedia' (Age 0-19) dataframe created with 0records.

Create a new dataframe "Adult" that gathers data with age greater than 19.

In [66]:
Adult = df[df['Age'] > 19].copy()
print(f"11. 'Adult' (Age > 19) dataframe created with {len(Adult)}records.")

11. 'Adult' (Age > 19) dataframe created with 768records.

Use numpy to get the average age and glucose value.

In [67]:
avg_age = np.mean(df['Age'])
avg_glucose = np.mean(df['Glucose'])
print(f"\n12. Average Age: {avg_age:.2f}")
print(f" Average Glucose: {avg_glucose:.2f}")

12. Average Age: 33.24
 Average Glucose: 120.89

Use numpy to get the median age and glucose value.

In [68]:
med_age = np.median(df['Age'])
med_glucose = np.median(df['Glucose'])
print(f"\n13. Median Age: {med_age}")
print(f" Median Glucose: {med_glucose}")

13. Median Age: 29.0
 Median Glucose: 117.0

Use numpy to get the middle values of glucose and age.

In [69]:
mid_age = np.median(df['Age'])
mid_glucose = np.median(df['Glucose'])
print(f"\n14. Middle Value (Median) Age: {mid_age}")
print(f" Middle Value (Median) Glucose: {mid_glucose}")

14. Middle Value (Median) Age: 29.0
 Middle Value (Median) Glucose: 117.0

Use numpy to get the standard deviation of the skin thickness.

In [70]:
std_skin = np.std(df['SkinThickness'])
print(f"\n15. Standard Deviation of Skin Thickness: {std_skin:.2f}")

15. Standard Deviation of Skin Thickness: 15.94

Conclusion:
In this activity i learned how to code without the python modules and calculating using python.